# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.eb7429u20231c426.API.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
